@import "tailwindcss";

body {
  overscroll-behavior-y: none;
}

@theme {
  --font-jost: "Jost", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --default-font-family: "Jost";

  --color-primary-white: #fcfcfc;
  --color-primary-black: #212121;
}
